<template>
        <form>
            <div>
                <div><input id="fnavn" placeholder="Fornavn" /></div>
                <br/>
                <div><input id="enavn" placeholder="Efternavn"></div>
                <br/>
                <div><input type="number" id="stemmer" placeholder="Antal Stemmer"></div>
                <div><select name="Parti" id="partier"></select>
                    <button id="btn-save">Save</button>
                </div>
            </div>
        </form>
</template>